 <div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 2</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will learn how to use Python (pandas) for preprocessing your data when Imported from a SQL databease. By the end of this lab, you will be familiar with the connection methods and how you can run SQL Queries using Python.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab you will learn:
<ol>
    <li><a href="#p1">How to Build a connection to a SQL database</a></li>
    <li><a href="#p2">Run Simple Queries and read them into a DataFrame</a></li>
    <li><a href="#p3">Run Complex Queries and read them into a DataFrame</a></li>
    <li><a href="#p4">WHERE in Python</a></li>
    <li><a href="#p5">Practice Questions</a></li>
</ol>

Estimated Time Needed: <strong>60 min</strong>
</div>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p1>Part 1 : Set Up the Enviroment </a></h1>
</div>

In [ ]:
# 1. The first step is to be sure you have installed the required python packages.
# We use the pakage manager pip to install all requred packages

conda install mysql-connector-python

In [ ]:
# 2. Import Python Libraries

import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [ ]:
#3. Build the connection
#Note: You should have already created the credential in MYSQL server.

engine = create_engine('mysql+pymysql://'+user+':'+pwd+'@localhost:51211')
conn = engine.connect()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Challenge</h1>
<b>Can you make a connection without explicitly providing the credential? 
    in other words can you hide the credentials</b>
</div>


<details><summary> # Click here for a solution</summary>
```python
    #The correct answer is:
   df2=pd.read_csv('C:/Users/omar/Desktop/Duraham/Courses/data1202/mysql.txt', sep=',')
    
   mydb1=sql.connect(host='localhost',user=df2.iat[0,0],password=df2.iat[0,1], db='ap') 
    
```
</details>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Part 2 : Run Simple Queries and read them into a DataFrame </a></h1>
</div>

In [ ]:
# read a simple query into DataFrame
df=pd.read_sql_query("SELECT * FROM data1202.vgsales", conn)

In [ ]:
# print DataFrame and shaw the first 10 raws
df.head()

In [ ]:
#Find how many records this data frame has
df.shape

In [ ]:
#How many elements are there?
df.size

In [ ]:
#What are the column names?
df.columns

In [ ]:
#What types of columns we have in this data frame?
df.dtypes

In [ ]:
df.info()

In [ ]:
dir(df)

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p3>Part 3 : Run Complex Queries and read them into a DataFrame </a></h1>
</div>

In [ ]:
# read a complex query into DataFrame
complex_df = pd.read_sql_query('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    data1202.vgsales
WHERE
    Genre = 'Action'
        AND Year>= 2005''', conn)

In [ ]:
complex_df.head()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 4 : WHERE in Python </a></h1>
</div>

In [ ]:
# WHERE in python
nintendo_games = df[df['Publisher'] == 'Nintendo

In [ ]:
nintendo_games.head()

In [ ]:
print("The number of Nintendo games is: " + str(len(nintendo_games)))

In [ ]:
# TWO condition WHERE claus
action_05 = df[(df['Genre']=='Action') & (df['Year'] >= 2005)]
action_05.head()

In [ ]:
print("The sum of action games in NA is: " + str(action_05.EU_Sales.max()))